<div ng-controller="loginController">
    <div class="header">
        <h1>Kerberos-Chat</h1>
    </div>
    <div class="row">
        <div class="column side">
            <p>Explanation of how it work and how to use it</p>
        </div>
        <div class="column middle">
            <label for="user"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="user" ng-model="username" required>
            <br>
            <label for="pwd"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pwd" ng-model="password" required>
            <button ng-click="generateAuth(username, password)">Login</button>
        </div>
        <div class="column side">
            <p>Explanation of how it work and how to use it</p>
        </div>
    </div>

    <div class="footer">
        <h6>Do we want a footer?</h6>
    </div>

</div>