<div ng-controller="loginController">
    <div class="header">
        <h1>Kerberos-Chat</h1>
    </div>
    <div class="row">
        <div class="column side">
            <p>In our Kerberos-Chat implementation, the first thing you must do is enter your username and password</p>
            <p>During the pause, the frontend will receive a salt from the server based upon the username, then generate a hashed password based upon that</p>
        </div>
        <div class="column middle">
            <label for="user"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="user" ng-model="username" required>
            <br>
            <label for="pwd"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pwd" ng-model="password" required>
            <button ng-click="processAuth(username, password)">Login</button>
        </div>
        <div class="column side">
            <p>Next the frontend will take that generated data to form the first authentitcator and send it to the server</p>
            <p>If the server approves, the user will be sent to the messaging page and the server will send back a TGT and the session key</p>
        </div>
    </div>
</div>